<div class="menu-header">
  <button>
    Sobre
  </button>
  <button>
    Skills
  </button>
  <button>
    Educação
  </button>
  <button>
    Experiência
  </button>
  <button>
    Projetos
  </button>
</div>
<router-outlet></router-outlet>
<div class="footer">
  <p>Rafaela Lima</p>
  <div class="contact-container">
    <div>
      <img src="../assets/images/phone.png"/>
      <p>+55 (92) 99472-3292</p>
    </div>
    <div>
      <img src="../assets/images/gmail.png"/>
      <p>ral@icomp.ufam.edu.br</p>
    </div>
    <div>
      <img src="../assets/images/linkedin.png"/>
      <p>linkedin.com/in/rlima1799 </p>
    </div>
  </div>
</div>