$cv-primary: (
  50: #e2e5e8,
  100: #b7bfc6,
  200: #8794a0,
  300: #576979,
  400: #33495d,
  500: #0f2940,
  600: #0d243a,
  700: #0b1f32,
  800: #08192a,
  900: #040f1c,
  A100: #5a98ff,
  A200: #2778ff,
  A400: #005bf3,
  A700: #0052da,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$cv-secondary: (
  50: #faf6f5,
  100: #f4e9e6,
  200: #ecdad6,
  300: #e4cbc6,
  400: #dfc0b9,
  500: #d9b5ad,
  600: #d5aea6,
  700: #cfa59c,
  800: #ca9d93,
  900: #c08d83,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffeae6,
  A700: #ffd5cd,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$cv-red: (
  50: #fce1e4,
  100: #f8b4bb,
  200: #f4838e,
  300: #ef5161,
  400: #eb2b3f,
  500: #e8061d,
  600: #e5051a,
  700: #e20415,
  800: #de0311,
  900: #d8020a,
  A100: #ffffff,
  A200: #ffcdce,
  A400: #ff9a9b,
  A700: #ff8082,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
