/**
 * Colors used in this project
 */
$color-brand-primary: #0f2940;
$color-brand-primary-light: #2e4159;

$color-brand-secondary: #d9b5ad;
$color-brand-secondary-light: #d9c5c1;
$color-brand-secondary-lighter: #f2ece9;

$color-gray-n1: #eeeeee;
$color-gray-n2: #dddddd;
$color-gray-n3: #bbbbbb;
$color-gray-n4: #888888;
$color-gray-n5: #777777;
$color-gray-n6: #454545;
$color-gray-n7: #393939;
$color-dark: #000000;

/**
  * Font size variables: px to .em
  */
$s2: 0.125em;
$s3: 0.1875em;
$s4: 0.25em;
$s5: 0.3125em;
$s6: 0.375em;
$s7: 0.4375em;
$s8: 0.5em;
$s9: 0.5625em;
$s10: 0.625em;
$s11: 0.6875em;
$s12: 0.75em;
$s13: 0.8125em;
$s14: 0.875em;
$s15: 0.9375em;
$s16: 1em;
$s17: 1.0625em;
$s18: 1.125em;
$s19: 1.1875em;
$s20: 1.25em;
$s21: 1.3125em;
$s22: 1.375em;
$s23: 1.4375em;
$s24: 1.5em;
$s25: 1.5625em;
$s26: 1.625em;
$s27: 1.6875em;
$s28: 1.75em;
$s29: 1.8125em;
$s30: 1.87em;
$s31: 1.9375em;
$s32: 2em;
$s33: 2.0625em;
$s34: 2.125em;
$s35: 2.1875em;
$s36: 2.25em;
$s37: 2.3125em;
$s38: 2.375em;
$s39: 2.4375em;
$s40: 2.5em;
$s50: 3.125em;
$s60: 3.75em;
